.banner{
    background: url('../../../../assets/banner1.jpg') ;
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 500px;
    
}
.banner-title{
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
}
.banner-text{
    color:deeppink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}