.loginForm{
     background-color:#F4FDFC;
     border: 2px solid;
     box-shadow: 8px 8px ;
 }
 .registrationForm{
    background-color:rgb(253, 239, 212);
     border: 2px solid wheat;
    
 }
 .l{
    color:#ffd0d7
 }